@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');
/*------------------------------------*/
/*  FONTS  */
/*------------------------------------*/
$font-main: 'Roboto', Arial, Helvetica, sans-serif;
$font-mono: 'Roboto Mono', monospace;
/*------------------------------------*/
/*  DIMENSION  */
/*------------------------------------*/
$sidebar-width: 250px;
/*------------------------------------*/
/*  COLORS  */
/*------------------------------------*/
$color-blue: #63a6f5;
$color-red: #ff586c;
$color-green: #45cb85;
$color-yellow: #ebea36;
$color-grey: #eeeeee;
$color-grey-2: #cccccc;
$color-grey-3: #aaaaaa;
$color-grey-light: #f6f6f6;
