/*------------------------------------*/
/*  DIMENSION  */
/*------------------------------------*/
$sidebar-width: 250px;
/*------------------------------------*/
/*  COLORS  */
/*------------------------------------*/
$color-blue: #63a6f5;
$color-red: #ff586c;
$color-green: #45cb85;
$color-yellow: #ebea36;
$color-grey: #eeeeee;
$color-grey-2: #cccccc;
$color-grey-3: #aaaaaa;
