body {
  font-family: $font-main;
  font-size: 14px;
  color: $color-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a {
  color: $color-blue;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    color: lighten($color-blue, 10%);
  }
}

.desc {
  font-size: 12px;
  color: $color-grey-2;
}
